<launch>
    <arg name="stereo" default="stereo_down" />
    <node pkg="camera_calibration" type="cameracalibrator.py" name="camera_calibrator"
      args="--approximate=0.1 --size 6x8 --square=0.04" output="screen">

      <remap from="left" to="$(arg stereo)/left/image_raw" />
      <remap from="left_camera" to="$(arg stereo)/left" />
      <remap from="right" to="$(arg stereo)/right/image_raw" />
      <remap from="right_camera" to="$(arg stereo)/right" />
    </node>
</launch>